
{% extends 'doc_manage/base.html' %}



{% block main_area %}

<section>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6 font-weight-bold text-muted">
                <h1 class="mt-5">Modim Web Page</h1>
                <p class="text-light">사내 최신문서를 다운 받거나, 도서 목록을 확인 할 수 있습니다.</p>
<!--                <a href="downloads" class="text-success">-->
                <!--    <img src="https://get.wallhere.com/photo/building-architecture-sky-daytime-structure-daylighting-line-corporate-headquarters-facade-angle-product-design-headquarters-black-and-white-symmetry-brutalist-architecture-house-skyscraper-commercial-building-window-glass-911607.jpg" style="width: 100%; height: auto;" alt="">-->
<!--                    문서 최신화-->
<!--                </a>-->
            </div>
            <div class="col-lg-5 mt-5">
                <div class="card mt-1">
                    <div class="card-body"><a href="downloads" class="text-success">최신 문서 다운로드</a></div>
                </div>
                <div class="card mt-1">
                    <div class="card-body"><a href="bookmanage" class="text-success">도서 목록 확인</a></div>
                </div>
            </div>

        </div>
    </div>
</section>


{% endblock %}

